* {
    box-sizing: border-box;
}

body {
    /* background: url("../images/mochaGrunge.png"); */
    background-color: #e9ebee;
    /* background-color: #cccccc; */
  }

.jumbotron {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    letter-spacing: 0.1em;
    background-color: #0047AB;
    color: #ffffff;
}

.card-header {
    background-color: #0047AB;
    color: #ffffff;
}

#img-crystal {
    position:absolute;
    top:50px;
    left: 100px;
    z-index: -20;
    height: 300px;
}

.game {
    height: 125px;
}

#crystals {
    min-height: 185px;
}

.game-crystal {
    width: 15%;
    height: auto;
    float: left;
    margin: 35px 34px 30px 34px;
}

#winCount, #lossCount {
    clear: both;
    font-size: 20px;
}

#flash {
    height: 185px;
    /* height: auto; */
}

#title {
    text-align: center;
}

#left-icon {
    float: left;
}

#right-icon {
    float: right;
}

#lose-flash {
    /* visibility: hidden; */
    display: none;
    color:#000;
    text-align: center;
}

#win-flash {
    /* visibility: hidden; */
    display:none;
    color:#000;
    text-align: center;
}