* {
    box-sizing: border-box;
}

body {
    background: url("../images/mochaGrunge.png");
  }

.jumbotron {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#img-crystal {
    position:absolute;
    top:50px;
    left: 100px;
    z-index: -20;
    height: 300px;
}

#game {
    height: 125px;
}

#crystals {
    height: 185px;
}

.game-crystal {
    width: 15%;
    height: auto;
    float: left;
    margin: 35px 34px 30px 34px;
}

#winCount, #lossCount {
    font-size: 20px;
}