* {
    box-sizing: border-box;
}

body {
    background-color: #e9ebee;
  }

.jumbotron {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    letter-spacing: 0.1em;
    background-color: #0047AB;
    color: #ffffff;
}

.card-header {
    background-color: #0047AB;
    color: #ffffff;
}

#img-crystal {
    position:absolute;
    top:50px;
    left: 100px;
    z-index: -20;
    height: 300px;
}

.game {
    height: 125px;
}

#crystals {
    min-height: 185px;
}

.game-crystal {
    width: 25%;
    padding: 40px;
    height: auto;
    float: left;
    margin: auto;
}

#winCount, #lossCount {
    clear: both;
    font-size: 20px;
}

#flash {
    height: 185px;
}

#title {
    text-align: center;
}

#left-icon {
    float: left;
}

#right-icon {
    float: right;
}

#lose-flash {
    display: none;
    color:#000;
    text-align: center;
}

#win-flash {
    display:none;
    color:#000;
    text-align: center;
}

/* ===== MEDIA QUERIES ===== */
@media screen and (min-width: 981px) and (max-width: 1200px) {
    .game-crystal {
        width: 25%;
        height: auto;
        padding: 40px;
        padding-top: 55px;
        height: auto;
        float: left;
        margin: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
    .game-crystal {
        width: 25%;
        padding: 40px;
        height: auto;
        float: left;
        margin: auto;
    }
}
  
@media screen and (min-width: 641px) and (max-width: 768px) { 
    .game-crystal {
        width: 50%;
        padding: 40px;
        height: auto;
        float: left;
        margin: auto;
    }    
}
  
@media screen and (max-width: 640px) {
    .game-crystal {
        width: 50%;
        padding: 40px;
        height: auto;
        float: left;
        margin: auto;
    }
}